//@import "element-plus/dist/index.css"
//@import "element-plus/theme-chalk/src/message.scss";
//@import "element-plus/theme-chalk/src/notification.scss";
.el-button {
  font-family: var(--hp-font-family);

  &.focus-outline-none:focus-visible {
    outline: none;
  }
}

.el-input .el-input__inner {
  font-family: var(--hp-font-family);
}

input {
  font-family: var(--hp-font-family);
}

//弹出框菜单菜单样式
.el-popper.website-menu-popover {
  --el-menu-bg-color: var(--hp-aside-bg-color);
  --el-menu-text-color: var(--hp-aside-text-color);
  --el-menu-active-color: var(--hp-aside-active-color);
  --el-menu-base-level-padding: var(--hp-menu-padding);
  --el-menu-sub-item-height: var(--hp-menu-item-height);
  --el-menu-item-height: var(--hp-menu-item-height);
  border-radius: 8px;

  .el-menu--popup-container.website-menu-popover {
    border-radius: 8px;

    .el-menu--popup {
      border-radius: 8px;

      li.el-menu-item {
        margin: 6px;
        border-radius: 8px;

        &:hover {
          background-color: var(--hp-aside-active-bg-color);
        }

        &.is-active {
          background-color: var(--hp-aside-active-bg-color);
        }
      }
    }
  }
}

// message消息样式
.messageBox {
  z-index: 9999 !important;
}

//el-dialog样式
.el-dialog.custom-dialog {
  --el-dialog-border-radius: 8px !important;
  --el-dialog-padding-primary: 20px !important;
  padding: 24px 20px;

  .el-dialog__header {
    .el-dialog__headerbtn .el-dialog__close {
      padding-top: 12px;
      transform: scale(1.3);
    }
  }
}

.el-icon {
  padding-bottom: 2px;
}