/* 引入 Roboto Regular */
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 引入 Roboto SemiBold */
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* 引入 Roboto Bold */
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 引入 Roboto Italic */
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* 引入 Roboto SemiBoldItalic */
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* 引入 Roboto Bold Italic */
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* 引入 Noto-Sans-SC regular */
@font-face {
  font-family: 'Noto Sans SC';
  src: url('../assets/fonts/Noto-Sans-SC/NotoSansSC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 引入 Noto-Sans-SC SemiBold */
@font-face {
  font-family: 'Noto Sans SC';
  src: url('../assets/fonts/Noto-Sans-SC/NotoSansSC-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* 引入 Noto-Sans-SC Bold */
@font-face {
  font-family: 'Noto Sans SC';
  src: url('../assets/fonts/Noto-Sans-SC/NotoSansSC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}