@use "sass:map";

$font-families: (
  'Roboto': (
    (weight: 400, style: normal, file: '../assets/fonts/Roboto/Roboto-Regular.woff2'),
    (weight: 600, style: normal, file: '../assets/fonts/Roboto/Roboto-SemiBold.woff2'),
    (weight: 700, style: normal, file: '../assets/fonts/Roboto/Roboto-Bold.woff2'),
  ),
);

@each $name, $data in $font-families {
  @each $attrs in $data {
    @font-face {
      font-family: '#{$name}';
      src: url('#{map.get($attrs, file)}') format('woff2');
      font-weight: #{map.get($attrs, weight)};
      font-style: #{map.get($attrs, style)};
      font-display: swap;
    }
  }
}